<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Fierralin's Homepage</title>
	<meta name="description" content="Lancifolium Homepage" />
	<meta name="keywords" content="Fierralin, Lancifolium" /> <!-- this page's keywords -->
	<link  href="css/base.css" media="screen" rel="stylesheet"/>
    <link  rel="icon" href="http://fierralin.github.com/images/Lancifolium.ico" type="image/x-icon"/>
	<style type="text/css">
		html {
			background:url('images/bg_vert.jpg') #333d43;
		}
		body {
			background:url('images/bg_head.jpg') repeat-x top center, url('images/bg_vert.jpg') repeat-x;
			background-position:center;
			background-repeat:repeat-x;
		}
	</style>
</head>